<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @case_insensitive.name %>
</p>

<%= link_to 'Edit', edit_case_insensitive_path(@case_insensitive) %> |
<%= link_to 'Back', case_insensitives_path %>
